<div class="justify-content-left" style="background-color: #212529; padding-left: 20px; color: white; border-radius: 1rem;">
    
    <div class = "row">
      
      <div class = "col-6">
        <div class = "row">
          {{cardTitle}}
        </div>
        <div class = "row">
          Time: {{time}}
        </div>
        <div class = "row">
          Location: {{location}}
        </div>
      </div>
      <div class = "col-6">
        <div class = "row">
          <img src={{img}} alt="" style="width: 100px; height: 80px;">
        </div>
      </div>
      
     
      
    </div>
    <div>
      <div class = "row">
        {{cardDesc}}
      </div>
    </div>
    <div class = "align-middle">
      <button type="button" class="btn btn-outline-light btn-sm px-5 "><b><a routerLink="/create-post" class="text-white-50 fw-bold">Create Post</a></b></button>
    </div>
    <div>

    </div>
</div>
<p></p> <!--Needed for whitespace-->


