<app-topnavbar></app-topnavbar>
<div class="backdrop"></div>
<div class="content-super">
    <div class="content">
        <div class="posts-title">
            <div class="posts-title-card card posts-card-theme text-white">
                <div class="card-body p-2">
                    <div class="posts-title-body d-flex justify-content-center">
                        <div class="posts-title-h">
                            <h2>Featured Posts</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="posts-prvw">
            <div class="posts-prvw-card card posts-card-theme">
                <div class="card-body p-4">
                    
                </div>
            </div>
        </div>
    </div>
</div>
