div.messages {
    padding-bottom: 2rem;
}

div.messages-section {
    margin-top: 2rem;
}

div.chat-card {
    padding: 0.5rem;
    overflow: scroll;
}

div.messages-tut {
    margin-bottom: 0.5rem;
}

div.chat-list-card {
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: none;
    border-color: rgba(140, 140, 140);
    margin-bottom: 1rem;
}

ul.messages-list {
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 347px;
    overflow: scroll;
}

div.message-bubble {
    width: 50%;
}

div.message-bubble a {
    border-style: outset;
    border-radius: 15px 50px 30px 5px;
    border-color: rgb(0, 183, 255);
    background-color: rgb(97, 202, 251);
}

div.message-form {
    margin-bottom: 1rem;
}

div.input-group {
    width: auto;
    margin: 0 1rem 1rem 1rem;
}

button.message-send {
    margin-left: 2rem;
}

