<div class="post-prvw card">
    <div class="card-body">
        <div class="post-prvw-body">
            <div class="evt-info">
                <div class="evt-vis">
                    
                </div>
                <div class="evt-st">
                    <div class="evt-loc">
                        <p class="prvw-p-evt">Event location name<br>
                           Event location addr</p>
                    </div>
                    <div class="evt-time">
                        <p class="prvw-p-evt">Event date<br>
                           Event time</p>
                    </div>
                </div>
            </div>
            <div class="post-info">
                <div class="ptitle">
                    <p class="prvw-font">Post Title</p>
                </div>
                <div class="host">
                    <p class="prvw-font">Host Name</p>
                </div>
            </div>
            <div class="stats-info">
                <div class="eustats">
                    <p class="prvw-p-stat">N Users</p>
                </div>
                <div class="pcreate-time">
                    <p class="prvw-p-stat" style="bottom: 0">Created X</p>
                </div>
            </div>
        </div>
    </div>
</div>
