div.outer-card.card {
    border: none;
    border-radius: 0.8rem;
    background-color: rgba(240, 240, 240);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}

div.title-card.card {
    margin: 0 auto 0 auto;
    width: fit-content;
    border: none;
    border-radius: 0.7rem;
    background-color: rgba(230, 230, 230);
}

div.sub-card.card {
    border: none;
    background-color: rgba(220, 220, 220);
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.15);
}

div.outer-section-pad {
    padding: 2rem 2% 0 2%;
}

div.outer-card-body-pad {
    padding: 1rem 3rem 1rem 3rem;
}

div.title-pad {
    padding: 0 10% 0 10%;
}

div.title-card-body-pad {
    padding: 0.5rem;
}

div.title-h-pad {
    padding: 0 0.5rem 0 0.5rem;
}
