<app-content-wpr>
    <div class="events outer-section-pad">
        <div class="events-card outer-card card">
            <div class="events-card-body outer-card-body-pad">
                <div class="events-title title-pad">
                    <div class="events-title-card title-card card">
                        <div class="events-title-card-body title-card-body-pad">
                            <div class="events-title-h title-h-pad">
                                <h2>Events</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="events-list-section">
                    <div class="events-list-card sub-card card">
                        <div class="events-list-card-body">
                            <div class="eve-wpr" *ngFor="let x of items">
                                <app-event-entry [img]="x.img" [cardTitle]="x.cardTitle" [location]="x.location" [time]="x.time" [cardDesc]="x.cardDesc"></app-event-entry>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-content-wpr>
