<app-topnavbar></app-topnavbar>

      <div class="row ms-5 mt-3">
        <div class="blog-top clearfix row">
          <h1 class="pull-left">  Events <a href=""><i class="fa fa-rss"></i></a></h1>
        </div>
          <div class="row">
        <div class="col-2"></div>

        
          
            
            <div class="page-wrapper col-8"> 
             <!--  -->
           

             
              <!--<div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" justify-content-center">
                  <h5><a href="">{{eventName}}</a></h5>
                  <div class="post-media justify-content-center"><a href=""><img src={{img}} alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <p><small> </small> </p><small><a href=""> | {{time}}</a></small>
                  <small class="firstsmall"><a class="bg-orange col-md-4" href="">{{Location}}</a></small>
                 <span class=" ms-5 mt-5"> <button type="button" class="btn btn-dark  ">Create Post</button></span></div>
                  </div>-->
           <div class="row  d-flex flex-row ">
              <div class=" blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" row text-center">
                  <h5><a href="">WVU vs Iowa State</a></h5></div>
                  <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <div class="text-center time"><a href=""> NOV 5</a></div>
                 <div class="text-center row "><a  href="">Football  </a></div>
                 
                 <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  "><a href="create-post" class="text-white fw-bold">Create Post</a></button></div></div>
              

              
              
              <div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" row text-center">
                  <h5><a href="">WVU vs Iowa State</a></h5></div>
                  <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <div class="text-center time"><a href=""> NOV 5</a></div>
                 <div class="text-center row "><a  href="">Football  </a></div>
                 
                 <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  ">Create Post</button></div></div>
             
              <div class=" blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" row text-center">
                  <h5><a href="">WVU vs Iowa State</a></h5></div>
                  <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <div class="text-center time"><a href=""> NOV 5</a></div>
                 <div class="text-center row "><a  href="">Crockett's Lodge </a></div>
                 
                 <div class=" mb-2 row text-center"> <button href = "create=post" type="button" class="btn btn-dark  ">Create Post</button></div></div>
                </div>
              <hr class="invis">
              <div class="row  d-flex flex-row ">
              <div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" row text-center">
                  <h5><a href="">WVU vs Iowa State</a></h5></div>
                  <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <div class="text-center time"><a href=""> NOV 5</a></div>
                 <div class="text-center row "><a  href="">Crockett's Lodge </a></div>
                
                 <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  ">Create Post</button></div></div>
              
              <div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" row text-center">
                  <h5><a href="">WVU vs Iowa State</a></h5></div>
                  <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <div class="text-center time"><a href=""> NOV 5</a></div>
                 <div class="text-center row "><a  href="">Crockett's Lodge </a></div>
            
                 <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  ">Create Post</button></div></div>
              
              <div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" row text-center">
                  <h5><a href="">WVU vs Iowa State</a></h5></div>
                  <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <div class="text-center time"><a href=""> NOV 5</a></div>
                 <div class="text-center row "><a  href="">Crockett's Lodge </a></div>
              
                 <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  ">Create Post</button></div></div>
              </div>
              <hr class="invis">
              <div class="row  d-flex flex-row ">
              <div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" row text-center">
                  <h5><a href="">WVU vs Iowa State</a></h5></div>
                  <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <div class="text-center time"><a href=""> NOV 5</a></div>
                 <div class="text-center row "><a  href="">Crockett's Lodge </a></div>
               
                 <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  ">Create Post</button></div></div>
              
              <div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" row text-center">
                  <h5><a href="">WVU vs Iowa State</a></h5></div>
                  <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <div class="text-center time"><a href=""> NOV 5</a></div>
                 <div class="text-center row "><a  href="">Crockett's Lodge </a></div>
                
                 <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  ">Create Post</button></div></div>
              
              <div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" row text-center">
                  <h5><a href="">WVU vs Iowa State</a></h5></div>
                  <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <div class="text-center time"><a href=""> NOV 5</a></div>
                 <div class="text-center row "><a  href="">Crockett's Lodge </a></div>
                 
                 <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  ">Create Post</button></div></div></div>
              <hr class="invis">
              <div class="row  d-flex flex-row ">
              <div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                <div class=" row text-center">
                  <h5><a href="">WVU vs Iowa State</a></h5></div>
                  <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                    
                    </a></div>
                  <div class="text-center time"><a href=""> NOV 5</a></div>
                 <div class="text-center row "><a  href="">Crockett's Lodge </a></div>
                 <div class="text-center row "><a  href=""> </a></div>
                 <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  ">Create Post</button></div></div>


                 <div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                  <div class=" row text-center">
                    <h5><a href="">WVU vs Iowa State</a></h5></div>
                    <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                      
                      </a></div>
                    <div class="text-center time"><a href=""> NOV 5</a></div>
                   <div class="text-center row "><a  href="">Crockett's Lodge </a></div>
                   <div class="text-center row "><a  href=""> </a></div>
                   <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  ">Create Post</button></div></div>

                   <div class="blog-box col-lg-4 mt-4"style="background-color: #FFF2CC">
                
                    <div class=" row text-center">
                      <h5><a href="">WVU vs Iowa State</a></h5></div>
                      <div class="text-center"><a href=""><img src="assets/football.jpeg" alt="website template image" class="img-fluid ">
                        
                        </a></div>
                      <div class="text-center time"><a href=""> NOV 5</a></div>
                     <div class="text-center row "><a  href="">Crockett's Lodge </a></div>
                     <div class="text-center row "><a  href=""> </a></div>
                     <div class=" mb-2 row text-center"> <button type="button" class="btn btn-dark  ">Create Post</button></div></div>
                </div>
          </div>
        </div>

          <hr class="invis">
          <div class="row ">
          <div class="row align-items-md-center">
            <div class="col-md-12">
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-start">
                  <li class="page-item"><a class="page-link"style="background-color:#FFF2CC" href="">1</a></li>
                  <li class="page-item"><a class="page-link" style="background-color:#FFF2CC"href="">2</a></li>
                  <li class="page-item"><a class="page-link"style="background-color:#FFF2CC" href="">3</a></li>
                  <li class="page-item"><a class="page-link"style="background-color:#FFF2CC" href="">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>