<div class="justify-content-left" style="background-color: #FFF2CC;">
    
    <div class = "row">
      <div class = "col-2">
        <img src={{img}} alt="" style="height: 75px; width: 100px;">

      </div>
      <div class = "col-4">
        <div class = "row">
          {{cardTitle}}
        </div>
        <div class = "row">
          {{cardDesc}}
        </div>

      </div>
      <div class = "col-4">
        <div class = "row">
          Time: {{time}}
        </div>
        <div class = "row">
          Location: {{location}}
        </div>
        

      </div>
      <div class = "col-2">

        <div class = "align-middle">
          <button type="button" class="btn btn-primary small "><b><a href="create-post" class="text-white-50 fw-bold">Create Post</a></b></button>
        </div>
        

      </div>

    </div>
</div>
<p></p> <!--Needed for whitespace-->