.btn{
    text-align: center;
}
.post-st{
    
        position: relative;
      
      border-radius: 10px;
      background-color: #FFF2CC;
      border: 2px solid #FFF2CC;
      font-size: 18px;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
      transition: box-shadow 0.2s ease, transform 0.2s ease;
    
}
.tx{
    color:#eaa900;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
}