<div class="card text-center">
    <div class="card-header">
      WVU Sports Connect
    </div>

    <!--Login Top Bar-->
    <div class="card-body text-center">
      <p class="card-title">Log In</p>

      <!--Username and Password Field-->
      <div class = "container" style = "width: 60%;">
          <div class = "row">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Username</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class = "row">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                    <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                  </div>
              </div>
          </div>
      </div>

      <!--Sign in Button -->
      
      <button type="button" href = "homepage" class="btn btn-primary"><a class="nav-link" href="homepage">
        Log In
      </a></button>
  </div>