<app-content-wpr>
    <div class="post">
        <div class="post-card outer-card card">
            <div class="post-card-body d-flex flex-column">
                <div class="post-title">
                    <div class="post-title-card title-card card">
                        <div class="post-title-card-body">
                            <div class="post-title-h">
                                <h2>Post Title</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-body">
                    <div class="event-section">
                        <div class="event-card card">
                            <div class="event-card-body d-flex">
                                <div class="event-media">
                                </div>
                                <div class="event-info">
                                    <div class="event-title">
                                    </div>
                                    <div class="event-location">
                                    </div>
                                    <div class="event-time">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-info-section d-flex">
                        <div class="post-info-userprvd">
                            <div class="post-host">
                                <p>Host name</p>
                            </div>
                            <div class="post-description">
                                <p>Description</p>
                            </div>
                        </div>
                        <div class="post-info-stats">
                            <div class="post-create-time">
                                <p>Some Date</p>
                                <p>Some time</p>
                            </div>
                            <div class="post-enrolled">
                                <p>X members</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-items-section">
                        <div class="post-items-card sub-card card">
                            <div class="post-items-card-body">
                                <div class="post-items-header d-flex">
                                    <div class="post-items-title">
                                        <h3>Item List</h3>
                                    </div>
                                </div>
                                <div class="post-items-list d-flex flex-column">
                                <!--item group component placeholder-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-convo-section">
                        <div class="post-convo-card sub-card card">
                            <div class="post-convo-card-body">
                                <div class="post-convo-header d-flex">
                                    <div class="post-convo-title">
                                        <h3>Conversations</h3>
                                    </div>
                                </div>
                                <div class="post-convo-list d-flex flex-column">
                                <!--conversation component placeholder-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-content-wpr>
