<section class="vh-100" style="background-color: #FFF2CC">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">

            <form #eventForm = "ngForm" (ngSubmit)="addEvent(eventForm.value)">

                <div class = "input-group">
                    <span class = "input-group-text">Title</span>
                    <input type = "text" class = "form-control" ngModel name = "cardTitle">
                </div>
                <div class = "input-group">
                    <span class = "input-group-text">Description</span>
                    <input type = "text" class = "form-control" ngModel name = "cardDesc">
                </div>
                <div class = "input-group">
                    <span class = "input-group-text">Location</span>
                    <input type = "text" class = "form-control" ngModel name = "location">
                </div>
                <div class = "input-group">
                    <span class = "input-group-text">Date</span>
                    <input type = "text" class = "form-control" ngModel name = "date">
                </div>
                <div class = "input-group">
                    <span class = "input-group-text">Time</span>
                    <input type = "text" class = "form-control" ngModel name = "time">
                </div>
                <div class = "input-group">
                    <span class = "input-group-text">Image</span>
                    <input type = "text" class = "form-control" ngModel name = "img">
                </div>
                <button class = "btn btn-light" type = "submit">
                    Add Event
                </button>

            </form>

            
                <a href="admin-portal">
                    Back
                </a>
            

            
        </div>

    </div>

</div>
</div>
</div>
</div>
</section>
