<div class="row " >

    <div class="row m-5">

        <div class="row m-5 ">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row">
                    <div class="col-3 tx">
                        <h2 class=" tx">Create a Post</h2>
                    </div>
                </div>
                <div class="row ">
                    <div class="row ">
                        <div class="row ">
                            <div class="col-1"></div>

                            
                            <div class="form-outline ">
                                <textarea class="form-control post-st" id="textAreaExample" rows="10"></textarea>
                                <label class="form-label" for="textAreaExample"></label>
                            </div>

                            <div class=" btn-post ms-1 align-self-center">
                                <button type="button " class="btn btn-primary small "><b>Post</b></button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>

</div>