<app-content-wpr>
    <div class="posts">
        <div class="posts-card card">
            <div class="posts-card-body d-flex flex-column">
                <div class="posts-title">
                    <div class="posts-title-card card text-white">
                        <div class="posts-title-card-body">
                            <div class="posts-title-h">
                                <h2>Featured Posts</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="posts-prvws-section">
                    <div class="posts-prvws-card card">
                        <div class="posts-prvws-card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-content-wpr>
