<app-topnavbar></app-topnavbar>

<div class="container d-flex justify-content-center align-items-center" style="background-color: #FFF2CC">
             
    <div class="card" style="background-color: white" *ngIf="authService.userData as user">


     <div class="user text-center">

       <div class="profile">

         <img src="{{user.photoURL}}" class="rounded-circle" width="80">
         
       </div>

     </div>


     
    <div class="mt-5 text-center" *ngIf="authService.userData as user">
        

        <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>



       <div class="d-flex justify-content-between align-items-center mt-4 px-4">

         <div class="stats">
           <h6 class="mb-0">Email</h6>
           <span>{{user.email}}</span>

         </div>


         <div class="stats">
           <h6 class="mb-0">Email Verified</h6>
           <span>{{user.emailVerified}}</span>

         </div>
         
       </div>

       <div>

        <button class="btn btn-primary btn-sm follow"><a class="nav-link" (click)="authService.SignOut()">
            <i class="fas fa-sign-out-alt"></i>Log out
          </a></button>

       </div>
       
     </div>
      
    </div>

  </div>