div.account-ctr {
    margin: 2rem auto -2.5rem auto;
    min-width: 20rem;
    width: 45%;
    height: fit-content;
}

div.account-card {
    position: relative;
    top: -2.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.4rem 0.15rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255);
    padding-bottom: 2rem;
}

div.userpic-bd {
    z-index: 1;
    bottom: -2.9rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255);
    min-height: 64px;
    height: 10vw;
    max-height: 256px;
    min-width: 64px;
    width: 10vw;
    max-width: 256px;
    border: 0.3rem solid rgba(0, 0, 0);
    border-radius: 50%;
}

button.signout-btn {
    border-radius: 1rem;
    box-shadow: 0 0.05rem 0.3rem 0.1rem rgba(0, 0, 0, 0.15);
    padding: 0 1rem 0 1rem;
    height: 2rem;
}

div.stats span {
    font-size: 1.2rem;
}
